<html>
<head>
    <title>{{ page_title }}</title>
</head>

{% if form.errors %}
<p>You made a mistake. Please try again.</p>
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<table>
{{ form.as_table }}
{% comment %}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
{% endcomment %}
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</html>